/*################## HTML ##################*/
.title{
	text-align: center;
}

#universityVis{
	width: 100%;
	height: 88%;
	overflow-y: scroll;
}
#universityBreadcrumb{
	width: 100%;
}
#areaSlider{
	width: 100%;
	height: 3%;
}
#areaVis{
	width: 100%;
	height: 57%;
}
#courseScatterVis{
	width: 100%;
	height: 20%;
}
#lineChartVis{
	width: 100%;
	height: 20%;
}

.tick > text{
	font: 8.5pt sans-serif;
}

/* Background color of the visualization #f2f2f2*/
.background{
	background-color : #f2f2f2;
}

/* Axis labels */
.axisLabel{
	font-size: 12pt;
}

/*#############################################
#             Courses Matrix View             #
#############################################*/
.text{
	fill: white;
}

.matrixLine{
	fill-opacity: 0;
	cursor: pointer;
}

.matrixLine:hover{
	fill: steelblue;
	fill-opacity: 0.2;
}

.breadcrumbItem{
	cursor: pointer;
}

.yaxis{
	cursor: pointer;
}

/*############ CONTEXT MENU ################ */

.menu-entry{
	fill: steelblue;
	cursor: pointer;
}
.menu-entry:hover{
	fill: red;
}
.menu-entry.text{
	fill: black;
}

/*#############################################
#               Sunburst View                 #
#############################################*/

.sunburst{
	cursor: pointer;
	
}
.sunburstLabel{
	cursor: default;
	color: red;
}
path.sunburst {
  stroke: #fff;
}

.ticks {
	font: 9pt sans-serif;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  cursor: grab;
}

.track-overlay-grabbing {
  pointer-events: stroke;
  stroke-width: 50px;
  cursor: grabbing;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

/*#############################################
#             Line Chart View                 #
#############################################*/

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.line:hover {
  fill: none;
  stroke: red;
  stroke-width: 4px;
}

/*#############################################
#             Scatterplot View                #
#############################################*/

.scatterPlotDot{
	cursor: pointer;
}