.title{
	text-align: center;
}
path.sunburst {
  stroke: #fff;
}
circle:hover {
	fill: red;
}
#universityVis{
	width: 100%;
	height: 88%;
	overflow:scroll;
}
#areaVis{
	width: 100%;
	height: 60%;
}
#courseScatterVis{
	width: 100%;
	height: 20%;
}
#lineChartVis{
	width: 100%;
	height: 20%;
}

.typeCourse{
	fill: yellow;
}

.text{
	fill: black;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.line:hover {
  fill: none;
  stroke: red;
  stroke-width: 4px;
}

/*#############################################
################# CONTEXT MENU ################
###############################################*/
.menu-entry{
	fill: steelblue;
	cursor: pointer;
}
.menu-entry:hover{
	fill: red;
}
.menu-entry.text{
	fill: black;
}
