/*################## HTML ##################*/
.title{
	text-align: center;
}

#universityVis{
	width: 100%;
	height: 92%;
	overflow-y: scroll;
}
#universityBreadcrumb{
	width: 100%;
}

#areaVis{
	width: 100%;
	height: 60%;
}
#courseScatterVis{
	width: 100%;
	height: 20%;
}
#lineChartVis{
	width: 100%;
	height: 20%;
}

/*#############################################
#             Courses Matrix View             #
#############################################*/

.typeCourse{
	fill: yellow;
}

.text{
	fill: black;
}

circle:hover {
	fill: red;
}

.breadcrumbItem{
	cursor: pointer;
}

.yaxis{
	cursor: pointer;
}

/*############ CONTEXT MENU ################ */

.menu-entry{
	fill: steelblue;
	cursor: pointer;
}
.menu-entry:hover{
	fill: red;
}
.menu-entry.text{
	fill: black;
}

/*#############################################
#               Sunburst View                 #
#############################################*/

.sunburst{
	cursor: pointer;
}

path.sunburst {
  stroke: #fff;
}

/*#############################################
#             Line Chart View                 #
#############################################*/

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.line:hover {
  fill: none;
  stroke: red;
  stroke-width: 4px;
}